In [ ]:
# Nama : Hammam Mahdy
# Batch : 026 RMT
# NGC 5
# membuat tabel

CREATE TABLE Customers(
	customer_id serial primary key,
	customer_name varchar(50) NOT NULL,
	city varchar(50) NOT NULL

);

CREATE TABLE Orders(
	order_id serial primary key,
	customer_id serial,
	order_date date,
	total_amount decimal,
	FOREIGN KEY (customer_id) REFERENCES customers(customer_id)

);

In [ ]:
INSERT INTO customers(customer_name, city)
values ('John Doe', 'New York'), ('Jane Smith', 'Los Angeles'), ('David Johnson', 'Chicago')


INSERT INTO orders(customer_id, order_date, total_amount)
values (1, '2022-01-10', 100.00), (1, '2022-02-15', 150.00), (2, '2022-03-20', 200.00), (3, '2022-04-25', 50.00)

SELECT * FROM customers

SELECT * FROM orders

In [ ]:
SELECT
	c.customer_name,
	COUNT(o.order_id) AS total_order
FROM
	customers c
JOIN
	orders o ON c.customer_id= o.customer_id
GROUP BY
	c.customer_name
ORDER BY total_order DESC